<div class="historial-container">
  <div class="img">
    <img src="../../../../assets/img/confirmed2.svg" alt="">
  </div>
  <div class="body"  *ngIf="showArr.length != 0; else elseBlock">
    <div *ngFor="let item of myArr">
      <app-card-history
      direccion="{{item.travelEquipmentDTOs[0].equipment.cliente.address}}"
      title="{{item.lastStatusTravel}}"
      hora="{{item.creationDate | date:'shortTime' }}"
      equipo="{{item.travelEquipmentDTOs[0].equipment.mark}}"
      statusTravel="{{item.lastStatusTravel}}"
      [idtravel]="item.id "
      [newStatusTravel]="item.lastStatusTravel"
      >
      ></app-card-history>
    </div>
  </div>
  <ng-template #elseBlock >
    <div class="notArr">
      <img src="../../../../assets/img/cancel.svg" style="width: 15rem;" alt="">
      <h1>No pudimos encontrar Elementos en tu Historial</h1>
    </div>
  </ng-template>
</div>
